/* CSS Document */
@charset "UTF-8";

.chart-container {
    /*width: 100%; */
    /*height: 177px; */
    width: 100%;
    height: 253px;
    overflow-x: hidden;
}

.chart-title {
    border-radius: 5px 5px 0 0 ;
    background-color: #5B005B;
    padding: 13px;
    margin: 0px;
    font-size: 18px;
}
.chart-title h2 { margin: 0px; color: #fff; font-family: 'Roboto Slab', serif; }
.chart-title p { margin: 0px; color: #222; }

.chart-content {
    height: 200px;
    position: relative;
    margin: 0px;
    border-radius:  0 0 5px 5px;
    background: none repeat scroll 0% 0% rgba(49, 53, 61, 0.70);
}

.chart-y-axis { width: 9%; height: 145px; position: absolute; top: 0px; left: 0px; }
.chart-y-axis p {
    margin: 0px 0px 0px 10px;
    padding: 0px 0px 0px 5px;
    width: 5%;
    position: absolute;
    color: #F8F6F8;
    border-bottom: 1px solid #5b005b;
}

.chart-x-axis { height: 50px; position: absolute; top: 145px; left: 50px; }
.chart-x-axis p {
    position: absolute;
    top: 0px;
    width: 100px;
    color: rgb(252, 252, 252);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
.chart-area {
    width: 89%;
	height: 144px;
	position: absolute;
	top: 0px;
	left: 50px;
}

.chart-area .chart-bar {
	position: absolute;
	bottom: 0px;
	width: 50px;
	height: 50px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-repeat: no-repeat;
	background-position: 50% bottom;
}

.chart-area .chart-bar.freeride  {
    background-color: #BF3641;
}
.chart-area .chart-bar.freestyle {
    background-color: #174873;
}
.chart-area .chart-bar.piste {
    background-color: #BAD3D9;
}

.chart-area .chart-bar p { margin: 5px 0px 0px 0px; text-align: center; color: #fff; }

/*@media screen and (max-width: 1215px){*/
    /*.chart-x-axis {*/
        /*left: 70px; }*/
    /*.chart-area {*/
        /*left: 70px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 970px) {*/
    /*.chart-x-axis {*/
        /*left: 250px; }*/
    /*.chart-area {*/
        /*left: 250px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 768px) {*/
    /*.chart-x-axis {*/
        /*left: 100px; }*/
    /*.chart-area {*/
        /*left: 100px;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 400px) {*/
    /*.chart-area{*/
        /*left: 15px;*/
    /*}*/
    /*.chart-x-axis{*/
        /*left: 15px;*/
    /*}*/
/*}*/

