/*html,body{width:100%;height:100%;margin:0;padding:0}
*/
/*.page{width:100%;height:100%;background:#fff;overflow:auto;z-index:1;position:relative}
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/*.mobile-nav ul{margin:0 0 25px;padding:0}
.mobile-nav ul li{list-style:none}*/

.mobile-menu{
  display: block;
}
.mobile-nav .mobile-menu{
  overflow: hidden !important;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  display: block;
  width: 240px;
  height: 100%;
  color: #fff;
/*  margin-top: 103px;
*/  background-color: #f2b191;
  z-index: -100;
/*  overflow-y: none;
*/  -webkit-overflow-scrolling: touch;
}

.mobile-menu ul li:first-child{
  padding-top: 50px;
}

.mobile-menu .mobile-menu-inner {
  width: 200px;
  padding: 20px 20px 60px;
}

.mobile-menu ul {
  margin: 0 0 25px;
  padding: 0;
}

.mobile-menu ul li {
  display: block;
  list-style: none;
  padding: 10px 0;
  a{
    color:#6d4b41;
    text-decoration: none;
    font-weight: 300;
    font-size:1.3em;
    &:hover{
      font-weight: 500;
    }
  }
}

/*Hamburger */
/*.hamburger{position:fixed;
          top:0;float:right;
          margin:10px;
          padding:10px 10px 9px;
          cursor:pointer;
          z-index:9999;
          display:block}*/
.hamburger {
    position: fixed;
    top: 0px;
    right: 0px;
    float: right;
    margin: 10px;
    padding: 10px 10px 9px;
    cursor: pointer;
    z-index: 99999;
    display: block;
}
.hamburger .hamburger-inner{
          position:relative;
          height:21px;width:25px;
          display:block;overflow:hidden;
          margin:0;
          padding:0

        }
.hamburger .bar{
          width:25px;
          height:3px;
          background:#000;
          position:absolute;
          top:0
        }
.hamburger .bar.bar2,.hamburger .bar.bar3{top:9px}
.hamburger .bar.bar4{top:18px}
.hamburger.open .bar1,.hamburger.open .bar4{display:none}
.hamburger.open .bar2,.hamburger.open .bar3{height:4px}



.container {
	/*width: 960px;*/
    width: 100%;
    margin: 0 auto;

	/*margin: 500px auto 700px;*/
}


/* Page Tracker */
.pt-section {
	height: auto;
    width: 100%;
}

#ptsection-one,
#ptsection-three {
	/*background-color: #5f6f81;*/
    background:url("../imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

#ptsection-two,
#ptsection-four {
	/*background-color: #28292e;*/
    background:url("../imgs/fresh_snow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.progress-tracker {
  position: fixed;
  top: 50%;
  right: 10px;
}
.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker ul li {
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #ebe9ea;
  border: 1px solid #666;
  margin-bottom: 10px;
  list-style-type: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.progress-tracker ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.progress-tracker ul li .pt-description {
  display: none;
  width: 100px;
  position: absolute;
  top: -2px;
  right: 25px;
}
.progress-tracker ul li .pt-description span {
  float: right;
  text-align: right;
  background-color: #e9ebea;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.progress-tracker ul li.active {
  background-color: #0070a4;
  border-color: #0070a4;
}
.progress-tracker.constant ul li.active .pt-description {
  display: block;
}

    .page {
      box-shadow: 0px 0px 6px #999;
    }

    /*article {
      width: 90%;
      max-width: 720px;
      margin: 50px auto;
    }
    h3 {
      margin: 35px 0 15px;
      font-size: 18px;
    }
    p {
      margin: 35px 0;
    }
    code {
      font-size: 12px;
      line-height: 15px;
      width: 100%;
      word-break: break-all;
      word-wrap: break-word;
    }
    td {
      padding: 10px 1% 10px 0;
    }
    td.col1 {
      width: 160px;
    }
    .left {
      color: blue;
    }
    .left:hover {
      text-decoration: underline;
      cursor: pointer;
    }*/
    .snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}
section{
    position: relative;
    overflow: hidden;
    width: 75%;
    margin: 0 auto;
    padding: 100px 0 250px 0;
}

.gallery{
  overflow: hidden;
  padding-bottom: 80px;
}

#logo{
    text-align:center; 
    position: relative;
    padding-top: 20px;   
}

/*Card Flip */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_2_of_4 {
  width: 49.2%;
}
.span_1_of_4 {
  width: 23.8%;
}

.card {
  position: relative;
  float: left;
/*  padding-bottom: 25%;
*/  
  padding-bottom: 17%;
  width: 25%;
  text-align: center;
}

.card:nth-child(1) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 1px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.7s;
          transition: transform 0.7s;
}

.card__front {
  background-color: #ff5078;
}

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 20px;
}

/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

footer{
  text-align: center;
}


@media screen and (max-width: 800px){
  .card{display: block;
        float: none;
        padding-bottom: 68%;
        width: 100%;
        margin-bottom: 30px;
        }
        .card:nth-child(1){
          margin: 0 0 30px 0;
        }
        .gallery{
          margin-bottom: 0;
        }

}