

@charset "UTF-8";



/*  Interactive Map Container */
.map_container {
    /*overflow: auto;*/
    	background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    	height: 275px;
        width: 440px;
    position: relative;
    /*	color: #fff;
        font-family: Arial;
        font-size: 12px;
        float: right;
        margin: 0px 0px 0px 20px;*/
}

.map_container a.easy {
    background-image: url(../img/easy.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 275px;
    width: 440px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;

}
.map_container a.intermediate {
    background-image: url(../img/intermediate.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 275px;
    width: 440px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;

}
.map_container a.advanced {
    background-image: url(../img/advanced.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 275px;
    width: 440px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;

}
.map_container .form_continent {
    position: absolute;
    top: 0;
    z-index: 1;
}



